<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/siwg.css">


<!-- <div class="front-page">
<div class="front-page-text">
    <div id="text-head"><h1>Luxury Homes</h1></div>
    <div>
    <h2 id="login-text">Get access to the most
        Luxurious Homes
      </h2>
    </div>   
</div>

<div id="container">
  <h2>Login with Google to view</h2>
  <div id="login">
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  </div>

</div>
</div> -->
<div class="real-buy-content">
<div class="real-buy">
  <div class="real-buy-box">
    <a id="real-link" href="/auth/google"><div class="real-content">
      <img id="front-page-img" src="/images/New Project (8).png">
      <h2>Realtors</h2>
    </div>
  </a>
  </div>
  <div class="real-buy-box">
    <a id="real-link" href="../buyer/index.ejs"></a> <div class="buyer-content">
      <img id="front-page-img" src="/images/homeicon.png">
      <h2>Buyer</h2>
    </div>
  </a>
  </div>
</div>
</div>

<%- include('./partials/footer') %>
