html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(255, 255, 255);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
  
}
.blast
{
  background-color: rgb(170, 24, 24);
}


nav {
  height: auto;
  padding-left: 50px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

nav a {
  font-size: 1.3rem;
}

.navbar-brand{
  font-size: 1.3rem;
}


.content{
  position: relative;
  display: none;
}



.front-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80vh;
}

.front-page-text{
  margin-bottom: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.blue-add-btn

#text-head{
  
  }

  .index-body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  .add-home{
    width: 25vw;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

  .submit{
    margin: auto;
    
  }
  #submit{
    width: 50%;
    height: 7vh;
    border: none;
    background-color: rgb(3, 161, 201);
    color: white;
  }

  .field{
    height:40px;
    width: 100%;
    border: 1px solid rgb(240, 240, 240);
    margin-bottom: 5px;
  }

  #add-home-link{
    
    padding: 5px;
    background-color: rgb(4, 201, 236);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.3rem;
    box-shadow: 0 2px 4px -1px rgba(184, 182, 182, 0.25);
  }
  .add-home-link:visited{
    
  }
  #add-home-link:hover{
  transform: scale(1.1);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 217, 255);
  }

  .split-screen{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
    box-shadow: 0 2px 4px -1px rgba(184, 182, 182, 0.25);
    border-bottom: 1px solid rgb(238, 238, 238); 

  }
  .left{
    height:200px
  }
  .left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../images/IFNO4HS36ZFV3EN3PKLS5BZ6DQ.jpg');
    background-size: cover;
  }

  .left .copy{
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -mos-osx-font-smoothing: grayscale;
  }

  .left p{
    font-weight: 400;
  }

  .right .copy{
    color: black;
    text-align: center;
  }
  .right .copy p{
    margin: 1.5em 0;
    font-size: 0.875rem;
  }

  .right form{
    padding: 25px;
    width: 500px;
  }
  form input[type="text"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgb(240, 240, 240);
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
  }
  label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 14px;
  }

  .submit{
    text-align:center;
    width: 250px;
  }

  
  .all-cards{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
    border-top: 1px solid rgb(238, 238, 238);
  }

  .all-cards li{
    list-style: none;
    padding: 5px;
    margin: 5px;
  }
  #price-in-card{
    color: rgb(3, 161, 201);
    font-weight: 400;
  }

  #show-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .edit-delete{
    display: none;
  }

  .edit-delete2{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    color: white;
    font-weight: 600;
  }

  .btn{
    width: 50vw;
    height: 7vh;
    
  }
  #btn{
    color: white;
    font-weight: 600;
  }

  #admen-button{
    margin: auto;

  }

  #addAmen{
    margin: 0;
  }
  

@media only screen and (min-width: 600px)  {

  .front-page{
    display: flex;
    flex-direction: row;
  }
  .front-page-text{
    margin-top: -30px;
    margin-right: 100px;
  }
  #text-head{
    margin-bottom: -20px;
    }
  #login{
    
    
  }

  #container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  
  .content{
    
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    box-shadow: 0 2px 4px -1px rgba(184, 182, 182, 0.25);
  }

  .imgBox{
    height: 300px;
    width: 1000px;
    border-radius: 25px;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    background-image: url('../images/New\ Project\ \(5\).png');
    
    
  }

  p{
    font-size: 1.2rem;
  }

  #text-head{
    margin-top: 30px;
  }

  #login-text{
    margin-top:30px;
    font-size: 1.5rem;
  }

  .textBx{
    width: 30vw;
    height: 100vh;
    margin-top: 70px;
    margin-left: 50px;
  }

  .split-screen{
    margin: auto;
    width: 75vw;
    flex-direction: row;
    height: 100vh;
    padding: 20px;
  }
  .left, .right{
    display: flex;
    width: 50%;
    height: auto;
  }

  .homes-results {  
    margin: auto;
    padding: 100px;
  }

  .all-cards{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
    border-top: 1px solid rgb(238, 238, 238);
  }
  .all-cards li{
    list-style: none;
    padding: 5px;
  }

  .city-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #price-in-card{
    color: rgb(3, 161, 201);
    font-weight: 400;
  }

  .row{
    margin: 5px;
  }

  .visible{
    
  }
  
  #show-cards{
    margin: auto auto auto 70px ;
    width: 800px;
    
  }
  #show-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .amen-form{
    width: 25vw;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  #admen-button{
    width: 100%;
    height: 6vh;
    border: none;
    background-color: rgb(0, 195, 255);
    color: white;
    font-weight: 400;
    font-size: 15px;
    
  }
  
  #amen-results{
    color: aqua;
  }
  
  .full-container{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
  }
  .edit-delete{
    display: block;
    margin-top: 100px;
    margin-left: 25px;
  }
  .edit-delete2{
    display: none;
  }
  
  .btn{
    
  }

  #float-btn{
    width:50px;
    margin-bottom: 5px;
  }

  #deets{
    margin: auto;
    width: 100%;
    height: 5vh;
    background-color: rgb(0, 162, 255);
    color: white;
    padding: 5px;
    font-weight: 600;
  }

  .deets{
    text-decoration: none ;
    color: white;
  }

}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(250, 250, 250);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 202, 202);
  border-radius: 10px;
}