html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(255, 255, 255);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;

  width: 100%;
  height: 100vh;
  
}

nav {
  background-color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}
.front-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 90vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

#container{
  border: 1px solid rgb(245, 245, 245);
  
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px rgb(241, 241, 241);
  padding: 5rem;
  padding-top: 2.5rem;
}

#text-head{
  margin-bottom: -20px;
  }

  .index-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 100px;
  }

  .add-home{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
  }

  .left{
    height: 100%;
    background-image: url('../images/14325-large.jpg');
    background-size: auto;
  }

  .right{
    padding: 25px 40px;
    height: 100%;
  }

  .field{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1;
  }

@media only screen and (min-width: 600px)  {

  .front-page{
    display: flex;
    flex-direction: row;
  }
  .front-page-text{
    margin-top: -30px;
    margin-right: 100px;
  }
  #text-head{
    margin-bottom: -20px;
    }
  #login{
    
    
  }

  #container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }



}